<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Welcome!
      {% endblock %}
    </title>
    {# <link rel="stylesheets"
      href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}" /> #}

    {# {{ encore_entry_link_tags('app') }} #}
    {# {% endblock %} #}

    {% block javascripts %}
      {# {{ encore_entry_script_tags('app') }}
      {% block importmap %}
        {{ importmap('app') }} #}
    {% endblock %}
    {# {% endblock %} #}
  </head>
  <body>
    <div class="card-mb-4">
      <div class="card-body">
        {# {% for message in app.session.flashBag.get('info') %}
          <div class="alert alert-info">
            {{ message }}
          </div>
        {% endfor %}
        {% for message in app.session.flashBag.get('error') %}
          <div class="alert alert-danger">
            {{ message }}
          </div>
        {% endfor %}
        {% for message in app.session.flashBag.get('success') %}
          <div class="alert alert-success">
            {{ message }}
          </div>
        {% endfor %} #}
      </div>
    </div>
    {% block body %}

    {% endblock %}
  </body>
</html>
